{
	"presets": ["es2015"],
	"plugins": [
		"syntax-async-functions",
		"transform-regenerator",
		"transform-runtime",
		"transform-class-properties",
		"transform-object-rest-spread",
	],
	"sourceMaps": true
}
